<?xml version="1.0" encoding="utf-8"?>
<plugin 
xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-donky"
    version="1.0.0">

    <name>Donky</name>
    <description>Cordova Donky Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,donky</keywords>

  <js-module src="www/donkyPlugin.js" name="donky">
    <clobbers target="cordova.plugins.donkyPlugin" />
  </js-module>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="donky" >
                <param name="android-package" value="com.donky.plugin.DonkyPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/DonkyPlugin.java" target-dir="src/com/donky/plugin/" />
    </platform>

  
  
  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="donky">
        <param name="ios-package" value="DonkyPlugin" />
      </feature>
    </config-file>

    <header-file src="src/ios/DonkyPlugin.h" target-dir="DonkyPlugin"/>
    <source-file src="src/ios/DonkyPlugin.m" target-dir="DonkyPlugin"/>

    <header-file src="src/ios/DNKeychainHelper.h" target-dir="DonkyPlugin"/>
    <source-file src="src/ios/DNKeychainHelper.m" target-dir="DonkyPlugin"/>

    <header-file src="src/ios/DNKeychainItemWrapper.h" target-dir="DonkyPlugin"/>
    <source-file src="src/ios/DNKeychainItemWrapper.m" target-dir="DonkyPlugin"/>
    
    <header-file src="src/ios/AppDelegate+donky.h" target-dir="DonkyPlugin"/>
    <source-file src="src/ios/AppDelegate+donky.m" target-dir="DonkyPlugin"/>

    <header-file src="src/ios/PushHelper.h" target-dir="DonkyPlugin"/>
    <source-file src="src/ios/PushHelper.m" target-dir="DonkyPlugin"/>

    <header-file src="src/ios/NSDictionary+DNJsonDictionary.h" target-dir="DonkyPlugin"/>
    <source-file src="src/ios/NSDictionary+DNJsonDictionary.m" target-dir="DonkyPlugin"/>


    <resource-file src='src/ios/Localizable.strings' target-dir="DonkyPlugin"/>

  </platform>

</plugin>