<?xml version="1.0" encoding="utf-8"?>
<plugin 
xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-donky-jsmodular"
    version="1.0.4">

    <name>Donky</name>
    <description>Cordova Donky JSModular Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,donky</keywords>

    <js-module src="www/donkyPlugin.js" name="donky">
        <clobbers target="cordova.plugins.donkyPlugin" />
    </js-module>



    <!-- android -->
    <platform name="android">

        <preference name="SENDER_ID" default="_DONKY_DEFAULT_" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="donky" >
                <param name="android-package" value="com.donky.plugin.DonkyPlugin"/>
            </feature>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="sender_id">$SENDER_ID</string>
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <uses-permission android:name="android.permission.WAKE_LOCK" />
          <uses-permission android:name="android.permission.VIBRATE"/>
          <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
          <permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature" />
          <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">

            <receiver
                android:name="com.google.android.gms.gcm.GcmReceiver"
                android:exported="true"
                android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <category android:name="${applicationId}" />
                </intent-filter>
            </receiver>

            <service
                android:name="com.donky.plugin.GCMIntentService"
                android:exported="false" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                </intent-filter>
            </service>

            <service
                android:name="com.donky.plugin.PushInstanceIDListenerService"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.google.android.gms.iid.InstanceID"/>
                </intent-filter>
            </service>

            <service
                android:name="com.donky.plugin.PushIntentService"
                android:exported="false">
            </service>

        </config-file>

        <framework src="com.google.android.gms:play-services-gcm:+" />
        
        <source-file src="src/android/DonkyPlugin.java" target-dir="src/com/donky/plugin/" />
        <source-file src="src/android/PushConstants.java" target-dir="src/com/donky/plugin/" />
        <source-file src="src/android/GCMIntentService.java" target-dir="src/com/donky/plugin/" />
        <source-file src="src/android/PushInstanceIDListenerService.java" target-dir="src/com/donky/plugin/" />
        <source-file src="src/android/PushIntentService.java" target-dir="src/com/donky/plugin/" />
        <source-file src="src/android/AssemblingManager.java" target-dir="src/com/donky/plugin/" />
        <source-file src="src/android/PermissionUtils.java" target-dir="src/com/donky/plugin/" />
    </platform>

  
  
  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="donky">
        <param name="ios-package" value="DonkyPlugin" />
      </feature>
    </config-file>

    <header-file src="src/ios/DonkyPlugin.h" target-dir="DonkyPlugin"/>
    <source-file src="src/ios/DonkyPlugin.m" target-dir="DonkyPlugin"/>

    <header-file src="src/ios/DNKeychainHelper.h" target-dir="DonkyPlugin"/>
    <source-file src="src/ios/DNKeychainHelper.m" target-dir="DonkyPlugin"/>

    <header-file src="src/ios/DNKeychainItemWrapper.h" target-dir="DonkyPlugin"/>
    <source-file src="src/ios/DNKeychainItemWrapper.m" target-dir="DonkyPlugin"/>
    
    <header-file src="src/ios/AppDelegate+donky.h" target-dir="DonkyPlugin"/>
    <source-file src="src/ios/AppDelegate+donky.m" target-dir="DonkyPlugin"/>

    <header-file src="src/ios/PushHelper.h" target-dir="DonkyPlugin"/>
    <source-file src="src/ios/PushHelper.m" target-dir="DonkyPlugin"/>

    <header-file src="src/ios/NSDictionary+DNJsonDictionary.h" target-dir="DonkyPlugin"/>
    <source-file src="src/ios/NSDictionary+DNJsonDictionary.m" target-dir="DonkyPlugin"/>


    <resource-file src='src/ios/Localizable.strings' target-dir="DonkyPlugin"/>

  </platform>

</plugin>